@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.logo{
  max-height: 200px;
  min-height: 50px;
  height: 20vh;
  margin-top: 25vh;
  margin-bottom: 20px;
  animation: fadeInAnimation ease 1s;
  -webkit-animation-name: fadeInAnimation ease 1s;
}
.navbar{
  margin-bottom: 0px;
  width: 100%;
}
html, body{
  overflow-x: hidden;
}
hr{
  background-color: white;
  width: 40vw;
  min-width: 300px;
  margin-top:5px;
  margin-bottom: 5px;
}
.social-icon{
  -webkit-filter: brightness(100%);
}
.social-icon:hover{
  -webkit-filter: brightness(70%);
}
.social-icon:active{
  -webkit-filter: brightness(40%);
}
ul#social li, ul#badges li{
  display: inline;
  vertical-align: middle;
}
ul#badges li img{
  margin-bottom: 5px;
  max-height: 70px;
  min-height: 15px;
  width: auto;
  height: 4vh
}
ul#social li img{
  max-width: 40px;
  min-width: 10px;
  height: auto;
  height: 4vh
}


ul#social{
  text-align: center;
  list-style: none;
	padding: 0;
}
.name{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size-adjust: auto;
  font-size: 5vh;
}
.tagline{
  font-size: 2.5vh;
}

@media screen and (min-height: 700px){
  .name{
    font-size: 50px;
  }
  .tagline{
    font-size: 30px;
  }
}


.name, .tagline{
  opacity: 0;
  animation: fadeInAnimation ease 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  -webkit-animation-name: fadeInAnimation ease 1s;
  -webkit-animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
}
.pager_class{
  text-align: center;
  margin: 0px;
  height: 100vh;
  width: 100%;
}
.jumbotron{
  background-image: url('images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding:0px;
  text-align: center;
  color: white;
  width: 100vw;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  height: 99.9vh;
  width: 100vw;
}

/* .jumbotron, .overlay{
  min-height: 800px;
} */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
