.logo{
  width: 25%;
  max-width: 200px;
  min-width: 150px;
  margin-top: 25vh;
}
.navbar{
  margin-bottom: 0px;
}
.jumbotron{
  background-image: url('images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0px;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  padding-top: 55px;
  text-align: left;
  color: white;

}
