.logo{
  width: 25%;
  max-width: 200px;
  min-width: 150px;
  margin-top: 25vh;
}
.navbar{
  margin-bottom: 0px;
}
.jumbotron{
  background-image: url('../images/background.jpg');
  height: 100vh;
  padding: 0px;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.25);
  height: 100vh;
  padding-top: 55px;
  text-align: left;
  color: white;

}
